.Classification {
    text-align: center;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }

h4{
  font-family: 'Comfortaa', cursive;
}
.mb-3, .my-3 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Comfortaa', cursive;
}

/**
 * FilePond Custom Styles
 */

.filepond--root,
.filepond--root .filepond--drop-label {  
   box-sizing: border-box;
   position: relative;
   font-size: calc(10px + 1vmin);
   color: #4c4e53;
   line-height: normal;
   font-family: 'Comfortaa', cursive;
   font-weight: 450;
   text-align: left;
   text-rendering: optimizeLegibility;
   direction: ltr;
   contain: layout style size;
 }

.filepond--drop-label {
	color: #4c4e53;
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	border-radius: 2em;
	background-color: #edf0f4;
	height: 1em;
}

.filepond--item-panel {
	background-color: #595e68;
}

.filepond--drip-blob {
	background-color: #7f8a9a;
}